In [3]:
x=5
print(x)
print(type(x))

5
<class 'int'>

In [2]:
message = "Hi, Sarim. How are you doing today?"
print(message)
print(type(message))

Hi, Sarim. How are you doing today?
<class 'str'>

In [12]:
message[0:12]

'Hi, Sarim. H'

In [15]:
x =(3,2,1,1)
print(x)
print(type(x))
print(x[0])
print(x[1])

(3, 2, 1, 1)
<class 'tuple'>
3
2

In [24]:
user = {"sarim","Hasan","yahya"}
print(user)
user.add("sara")
print(user)

{'sarim', 'Hasan', 'yahya'}
{'sarim', 'sara', 'Hasan', 'yahya'}

In [30]:
user_data = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(user_data)
print(user_data["name"])

user_data["name"] = "Jane"
user_data

{'name': 'John', 'age': 30, 'city': 'New York'}
John

{'name': 'Jane', 'age': 30, 'city': 'New York'}

In [31]:
user_list = ['Sarim','Hasan','Yahya']

for i in user_list:
    print(i)

Sarim
Hasan
Yahya

In [32]:
user_list.pop()
user_list

['Sarim', 'Hasan']

In [33]:
user_list

['Sarim', 'Hasan']

In [35]:
user_list.append('Sasukey Uchiha')
user_list.append('Sasuke Uchiha')

In [36]:
user_list

['Sarim', 'Hasan', 'Sasukey Uchiha', 'Sasukey Uchiha', 'Sasuke Uchiha']

In [51]:
user_list
user_list.insert(4,"I am One")
user_list

['Sarim',
 'I am One',
 'I am One',
 'Hasan',
 'I am One',
 'Sasukey Uchiha',
 'Sasukey Uchiha',
 'Sasuke Uchiha']

In [37]:
name = 'sarim    '
print(name)

print(name.strip())

sarim
sarim

In [38]:
unorder = [1,4,2,1,6,8,32,2,1]
unorder.sort()
print(unorder)

[1, 1, 1, 2, 2, 4, 6, 8, 32]

In [44]:
print(name)
name.title().strip()
name.upper()
print(f'Hello, {name.title().strip()}. Welcome to Python')

sarim
Hello, Sarim. Welcome to Python

In [46]:
first_name = 'Sarim'
last_name = 'Khan'
full_name = "{} {}".format(first_name, last_name)

print(full_name)

Sarim Khan

In [47]:
print('Sarim \n Yahya \n Hasan')

Sarim
 Yahya
 Hasan

In [6]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
available = True

while True:
    print(x)
    print(x)
    print(x)
    break

5
5
5

In [9]:
if x==5:
    print("X is 5")

X is 5

In [52]:
motor_cycle = ['Honda','Yamaha','Suzuki']
print(motor_cycle)

last_owned = motor_cycle.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}.")

print("motor cycles total:", motor_cycle)

['Honda', 'Yamaha', 'Suzuki']
The last motorcycle I owned was a Suzuki.
motor cycles total: ['Honda', 'Yamaha']